@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
         url(../fonts/JF-Flat-regular.woff) format('woff'),
         url(../fonts/JF-Flat-regular.ttf) format('truetype');
}

body {
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.custom-page{
    background-image: url(../img/logo/th.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 275vh;
}
.overlay {
    background: rgba(22, 22, 22, 0.5);
    height: auto;
    width: 100%;
    margin: 10px 20px;
    padding: 20px 10px;
}
.title a h1{
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;   
    line-height: 50px;
}
.navbar {
    padding-top: 0;
    padding-bottom: 2rem;
}
.custom-navbar {
    padding-bottom: 15px;
}
.custom-navbar .navbar-header img {
    padding-right: 7px;
    width: 12rem;
    height: 6rem;
    transform: translateY(-60px) !important;
}
.introduction {
    margin-bottom: 30px;
}

.title-of-h2 {
    font-style: italic;
    margin: 20px 0px;
    padding-bottom: 25px;
    color: #f5f0f0;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
}
.introduction .body-of-introduction p{
    font-size: 24px;
    line-height: 50px;
    font-weight: 400px;
    margin: 0px 80px;
    color: #fcfafa;
}
.services {
    margin-bottom: 30px;
}
.services .title-of-services {
    text-align: center;
    margin-bottom: 10px;
}

footer {
    background-color: #171717;
    background-position: center center;
    background-size: cover;
    margin-top: 30px;
}
.contact-us h3 {
    margin: 30px 5px;
    padding-bottom: 10px;
    font-weight: 200px;
    color: #85ECFF;
}
#contact-us h3::before {
    content: "";
    position: absolute;
    right: 26px;
    bottom: 17rem;
    width: 90px;
    height: 2px;
    background-color: #5c5c5c;
}

.contact-us .copyright {
    background-color: #111111;
    margin-top: 20px;
}
.contact-us .copyright p {
    font-size: 15px;
    color: #969696;
    line-height: 78px;
    text-align: center;
    margin-bottom: 0;
}
.tour .body-p {
    color: #f5f0f0;
    font-size: 20px;
    margin: 10px 10px;
}
.carousel .carousel-inner {
    max-width: 70%;
    max-height: 70%;
    margin: auto;
    border: 1px solid #000;
}
.carousel a.carousel-control-prev,
.carousel a.carousel-control-next {
    max-width: 4rem;
    max-height: 4rem;
    border: 2px solid #000;
    border-radius: 3px;
    position: absolute;
    top: 14rem;
}