.contact-us .contact {
    font-size: 18px;
    font-weight: 100px;
    color: #ACACAC;
    margin-right: 5px;

    li {
        margin-bottom: 35px;
        font-size: 20px;
        margin-right: 25px;

        span {
            margin-left: 10px;
        }
    }
}
.contact-us .social-media{
    margin-right: 15px;

    li {
        margin-right: 25px;

        a{
            font-size: 35px;
            width: 60px;
            height: 60px;
            border-radius: 2px;
            color: #acacac;
            line-height: 35px;
            transition: all 0.5s ease;

            &:hover,
            &:focus,
            &:active {
                color: #60e7ff;
            }
        }
    }
}