@mixin title-h2($mtb: 22px, $pb: 25px, $c1: #ffffff) {
    font-style: italic;
    margin-bottom: $mtb;
    margin-top: $mtb;
    padding-bottom: $pb;
    color: $c1;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
}

@mixin body-p ($f1: 20px, $c2: #e5e5e5) {
    color: $c2;
    font-size: $f1;
}

