#services .list-of-services .custom-services{
    border: 2px solid black;
    border-radius: 2px;

    .title-services{
        font-size: 28px;
        font-weight: 300px;
        color: $brand-white;
        padding: 10px 10px;
    }

    .body-services{
        font-size: 18px;
        font-weight: 100px;
        color: $brand-white;
        padding: 15px 15px;
        line-height: 30px;
        margin-right: 20px;
    }
}